body {
    background: #7F7FD5;
    background: radial-gradient(circle,rgba(127, 127, 213, 1) 0%, rgba(134, 168, 231, 1) 50%, rgba(145, 234, 228, 1) 100%);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    color: blueviolet;
}
/* Base menu styles */
#drop_down_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
  
    /* change the position */
    position: absolute;
    top: 50px;            /* adjust so it sits under the header */
    right: 10px;          /* align to the right */
    width: 180px;  
  
  
    /* Start hidden */
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }
